.setting-container{
  position: absolute;
  left: 0;
  width: 30%;


}
.graph-container{
  margin-top: 3px;
  margin-bottom: 3px;
  border-style:solid;
  border-color: lightgrey;
  position: absolute;
  left: 37%;
  width: 50%;
}
.graph-select-list{
  position: absolute;
  top: 90px;
  left:90%;
  width: 10%;
  height: 100px;
  overflow-y: scroll;
}
