.graph-container{
  width: 100%;
  height: 400px;
  overflow: visible;
}
.graph-upper-panel{
  height: 400px;
}
.graph-lower-panel button{

    float: left;
    margin-left: 10px;
}

.svgClassName{

  left:-10%;
  z-index: -1;


}
.params-container {
  text-align: left;

}
.metric-container{
  width: 100%;
  font-size: 70%;
  padding-left: 30px;
  text-align: left;
}
.price-tag{
  line-height: 0px;
  font-size: 80%;
  width: 80px;
  margin-left: 10px;
  float: left
}
.border-section{
  margin-top: 3px;
  margin-bottom: 3px;
  border-style:solid;
  border-color: lightgrey;
}
.clear-both{
  clear: both;
}
#price-tag-section{
  margin-left: 150px;
}

td, th {

    border: 1px solid black;
    text-align: left;
    padding: 4px;
    font-size: 80%;
}

tr:nth-child(even) {
  width: 100%;
}
.params-container-features{
  background-color: lightgreen;
  height: 60px;
  overflow-y: scroll;
}
